<!-- <app-mycontainer></app-mycontainer> -->
<!-- <app-binding></app-binding> -->
<!-- <app-event></app-event> -->
<!-- <app-ngfor></app-ngfor> -->

<!-- routing -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLink="/">home</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/ngfor">todo List</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/binding">Data Binding</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/event">Event</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/container">Container</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<!-- routing -->
