<!-- <app-mycontainer></app-mycontainer> -->
<!-- <app-binding></app-binding> -->
<!-- <app-event></app-event> -->
<!-- <app-ngfor></app-ngfor> -->

<!-- routing -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">home</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/ngfor">todo List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/binding">Data Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/event">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/container">Container</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pagenotfound"></a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<!-- routing -->
