<h1 style="text-align: center">Product</h1>
<h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate adipisci
  amet pariatur aliquam cum cumque ipsa quia dolore quasi, porro enim nulla
  itaque eum perspiciatis? Enim distinctio accusamus nihil vitae.
</h3>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://st2.depositphotos.com/7413918/10242/i/450/depositphotos_102423072-stock-illustration-group-of-wild-animal.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a routerLink="cartoon" class="btn btn-primary">Go cartoon</a>
    </div>
  </div>

</div>
