<div>
  <h1 style="text-align: center;">Event Binding</h1>
<button (click)="onAddCart()" class="btn btn-primary">Add to cart</button>
<br>
<h1 style="color: lightcoral;">{{message}}</h1>

<input type="text " (click)="onInputClick($event)">


<button class="btn btn-primary" value="Laptop" (click)="onAddCart1($event)">Laptop</button>
<button class="btn btn-primary" value="Mobile" (click)="onAddCart1($event)">Mobile</button>
<button class="btn btn-primary" value="TV" (click)="onAddCart1($event)">TV</button>
</div>