<div class="page-area">
  <div class="box">
    <h1>
      User name is <span><span class="text-success">Niraj Sakhare</span></span>
    </h1>
    
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-comp1></app-comp1>
    </div>
    <br><br>
    <div class="col-md-6">
        <app-comp2></app-comp2>
    </div>
    <br><br>
    <div class="col-md-6">
      <app-comp3></app-comp3>
    </div>
    <br><br>
    <div class="col-md-6">
      <app-comp4></app-comp4>
    </div>
  </div>
</div>
